PORT=3001
HOST=localhost

# support mysql, pg, mssql, oracledb
HIS_DB_HOST=127.0.0.1
HIS_DB_CLIENT=mysql
HIS_DB_PORT=3306
HIS_DB_NAME=hos
HIS_DB_USER=test
HIS_DB_PASSWORD=1234
HIS_DB_CHARSET=tis620

SECRET_KEY=1234567890

MAX_CONNECTION_PER_MINUTE=5000
